
@{
    ViewData["Title"] = "Index";
}

<h1>Search by title</h1>

<form action="../API/SearchByTitle" method="post">
    <input type="text" name="title" placeholder="Search by Title" />

    <input type="submit" value="Movie Title" />
</form>