
@{
    ViewData["Title"] = "SearchByTitle";
}

@model Search
<h1>Search By Title</h1>

<table class="table">
    <tr>
        <th>Title</th>
    </tr>

    <tr>
        <td>
            <form action="../MoviesDb/AddToFavorites" method="post">
                <input type="hidden" name="Title" value="@Model.Title" />
                <input type="hidden" name="Year" value="@Model.Year" />
                <input type="hidden" name="Type" value="@Model.Type" />
                <input type="hidden" name="IdbmmovieRating" value="@Model.imdbID" />

                <input type="submit" class="bg-success" value="Add to favorites" />
            </form>
        </td>
    </tr>

</table>





