
@{
    ViewData["Title"] = "Index";
}

<h1>Search Movies</h1>

<form action="../API/DisplayMoviesByTitle" method="post">
    <input type="text" name="title" value="" />

    <input type="submit" value="Movies" />
</form>